<h2 style="margin:25px" class="fh5co-heading-colored animated fadeInLeft">Learn fun and easy facts about burning calories</h2>

<div class="caloriesFacts animated fadeInLeft">

	an average sized human will burn about 2400 Calories per day without doing any exercise. The results are based on an average 150 pound human.

	Singing in the shower can burn an extra 10-20 Calories per song, depending on the volume and pitch of your voice.
	Laughing for 10 minutes can make you burn between 20 and 40 Calories.
	You burn about 200 Calories during 30 minutes of active sex.
	Banging your head against a wall uses 150 Calories an hour.
	On average, brushing your teeth for three minutes will burn 10 Calories.
	Pushing a shopping trolley up the aisles for half an hour will burn over 100 Calories, this number increases with the amount you put in your trolley and the heavier it gets.
	One hour spent sitting in front of the TV burns around 65 Calories.
	Smoking a cigarette burns roughly 10 Calories.
	Dancing on a Dance Mat for 10 minutes will burn 50-60 Calories.
	Hugging for one hour can burn 70 Calories.
	If you whip your head back and forth to Willow Smiths song, you will burn up to 50 Calories, depending on how crazy you go.
	A one minute kiss can burn between 2 and 4 Calories, depending on how intimate it is.
	A person will burn 7 percent more calories if they walk on hard dirt compared to pavement.
	You burn more calories than you consume when you eat celery.
	On average, if you walk your dog for 30 minutes, you burn 100 Calories.
	You burn more calories sitting in the cold, than heat.
	Chewing gum burns 11 Calories per hour.
	You can burn up to 350 more Calories per day if you fidget, rather than someone who remains stationary.
	Missing a night of sleep causes the body to burn about an extra 161 calories.
	Constant texting can burn 40 Calories per hour.
	If you have any awesome ways you burn calories, let me know in a comment!

</div>