
<div id="map" ng-controller="googleMapsCtrl" ng-init="loadScript()"></div>

<div class="fh5co-more-contact">
    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animated fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-envelope-o"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><a href="#">recipeSite@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animated fadeInLeft" >
                    <div class="fh5co-icon">
                        <i class="icon-map-o"></i>
                    </div>
                    <div class="fh5co-text">
                        <p>College of Management, Elie Wiesel 2, Rishon Lezzion<p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animated fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-phone"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><a href="tel://">*5025</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fh5co-narrow-content animated fadeInLeft">
    <div class="row">
        <div class="col-md-4 animated fadeInLeft">
            <h1>Get In Touch</h1>
        </div>
    </div>
    <form action="">
        <div class="row animated fadeInLeft">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="" id="message" cols="30" rows="7" class="form-control"
                                      placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary-custom btn-md" value="Send Message" >
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>



