<div style="margin: 30px" id="homeDiv">
<section style="margin-right: 30px" id="canvasDiv" ng-controller="canvasCtrl" >

    <div>
        <h2 class="textShadow">What's new?</h2>
    </div>
    <!--canva-->
    <canvas id="MyCanvas1" >
        This browser or document mode doesn't support canvas object
    </canvas>

</section>

<h1 id="headerText" class="textShadow">Welcome!</h1>

<video id="videoHome" style="width:250px; height: 250px; " controls>
    <source src="../videos/karinGoren.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

</div>