<form name="userForm" ng-submit="onSave(userForm)">
    <div ng-show="isShowMessage" class="alert alert-success" style="text-align: center;">
        {{saveMessage}}
    </div>

    <div class="col-lg-6 col-lg-offset-3">
        <h2>{{titleLabel}}</h2>


        <div class="form-group">
            <label>User Name:</label>
            <input type="text"  class="form-control" ng-model="appUser.userName" required="required">
        </div>

        <div class="form-group">
            <label>e-Mail</label>
            <input type="email" ng-model="appUser.email" class="form-control" new-user-mail-validation required="required" ng-disabled="!isNew">
            <div ng-if="userForm.$error.emailExists && isNew">username exists already</div>
        </div>

        <div class="form-group">
            <label>Gender:</label>

            <div>
                <select ng-model="appUser.gender">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </div>

        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" ng-model="appUser.password" required="required">
        </div>

        <button class="btn btn-primary" type="submit">{{btnTitle}}</button>
    </div>
</form>