<div class="fh5co-narrow-content animated fadeInLeft" >

    <div class="row">
        <div class="col-md-4">
            <h1>Create category</h1>
        </div>
    </div>
    <form ng-submit="fullSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" ng-model="formData.name">
                </div>
                <div class="form-group">
                    <!--<input type="file" id="Photo" name="upload" ng-file-select="onUploadSelect($files)" ng-model="newResource.newUpload"/>-->
                    <input type="file" ng-file-select="fileSelected($files)" onchange="angular.element(this).scope().setFile(this);"  accept="image/png, image/jpeg">
                    <img class="img-responsive" ng-src="{{image_source}}">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary-custom btn-md" value="Submit">
                </div>
            </div>

        </div>
    </form>
</div>
